| @{
| ViewData["Title"] = "Página ActualizarCip";
| Layout = "~/Views/Shared/_Layout.cshtml"; 
| }
div.header-custom
  button#sidebarCollapse.btn.btn-outline-warning(type='button')
    div.menu-icon
    div.menu-icon
    div.menu-icon
  span.header-title
    | Actualizar CIP
div.content-main              
    .form-group
        label(for='firstInput') Número de CIP:
        input#email.form-control(type='text')
    ton.btn.btn-default(type='submit', onClick='searchCip()') Consultar
    br
    br
    .card
    .card-body
        label.font-weight-bold(for='firstInput') Response
        br
        .form-group
            label(for='firstInput') Code:
            input#email.form-control(type='text')
        .form-group
            label(for='firstInput') Message:
            input#email.form-control(type='text')
        .form-group
            label(for='firstInput') Data:
            pre: code#code
        
          

script.
  var response = {
      "code": 502,
      "message": "Consulta exitosa.",
      "data": [
          {
              "cip": 2495383,
              "transactionCode": "1004649",
              "amount": 22,
              "currency": "PEN",
              "status": 23,
              "statusName": "Pagado",
              "dateCreation": "2017-06-19T10:53:02.053-05:00",
              "dateExpiry": "2017-06-22T17:00:00-05:00",
              "datePayment": "2017-06-19T10:54:16.007-05:00",
              "dateRemoval": "1900-01-01T00:00:00-05:00"
          }
      ]
  }

  function searchCip(){
    console.log(response.code, response.message, response.data)
    var str = JSON.stringify(response.data, null, 2);
    $('#code').text(str);
     $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
    });
  }
