| @{
| ViewData["Title"] = "Página GenerarCip";
| Layout = "~/Views/Shared/_Layout.cshtml"; 
| }

form(action='/')
  .form-group
    label(for='firstInput') First Input:
    input#email.form-control(type='text')
  .form-group
    label(for='secondInput') Second Input:
    input#pwd.form-control(type='text')
  button.btn.btn-default(type='submit') Enviar
br
.card
  .card-body
    | This is some text within a card body.







