include ../_mixins/mixin.pug


| @{
| ViewData["Title"] = "Página de Inicio";
| Layout = "~/Views/Shared/_Layout.cshtml"; 
| }
div.header-custom
  button#sidebarCollapseTitle.btn.btn-outline-warning(type='button')
    div.menu-icon
    div.menu-icon
    div.menu-icon
  span.header-title
    | CONFIGURACI&Oacute;N CIP
div.content-main     
  #response
  .row
      .col-sm-6
        .form-group
          label(for='serviceId') ID de servicio:
          input#serviceId.form-control(type='text')
  .row
      .col-sm-6
        .form-group
          label(for='accessKey') Access key:
          input#accessKey.form-control(type='password')
  .row
  
      .col-sm-6
        .form-group
          label(for='secretKey') Secret key:
          input#secretKey.form-control(type='password')
  button.btn.btn-outline-secondary(type='submit', onclick='credentialRegister()') Registrar
  br

script.
  function credentialRegister(){
    var serviceId = document.getElementById("serviceId");
    var accessKey = document.getElementById("accessKey");
    var secretKey = document.getElementById("secretKey");
    setCookie("serviceId", serviceId.value);
    setCookie("accessKey", accessKey.value);
    setCookie("secretKey", secretKey.value);
    $("#response").animate({
        height: '+=72px'
    }, 300);
  
    $('<div class="alert alert-success">' +
      '<button type="button" class="close" data-dismiss="alert">' +
      '&times;</button>Se ha registrado el acceso</div>').hide().appendTo('#response').fadeIn(1000);

    $(".alert").delay(3000).fadeOut(
    "normal",
    function(){
      $(this).remove();
    });
    $("#response").delay(4000).animate({
        height: '-=72px'
    }, 300);
  }


