| @{
| ViewData["Title"] = "Página de Inicio";
| Layout = "~/Views/Shared/_Layout.cshtml"; 
| }
h2 @ViewData["Title"]
h3 @ViewData["Message"]
| Menú
| @*
nav.navbar.navbar-inverse.navbar-fixed-top
  .navbar-collapse.collapse
    ul.nav.navbar-nav
      li @Html.ActionLink("Inicio", "Index")
      li @Html.ActionLink("Generar Cip", "GenerarCip")
      li @Html.ActionLink("Consultar Cip", "ConsultarCip")
      li @Html.ActionLink("Actualizar Cip", "ActualizarCip")
      li @Html.ActionLink("Eliminar Cip", "EliminarCip")
| *@
p PagoEfectivo ApiDemo
