| @{
| ViewData["Title"] = "Página de Inicio";
| Layout = "~/Views/Shared/_Layout.cshtml"; 
| }
//- form(action='/')
nav.navbar.navbar-expand-lg.navbar-light.bg-light
          .container-fluid
            p.font-weight-bold
              | Configuración de usuario
          .container-fluid
            button#sidebarCollapse.btn.btn-info(type='button')
              i.fas.fa-align-left
              span Toggle Sidebar
.row
    .col-sm-6
      .form-group
        label(for='serviceId') ID de servicio:
        input#serviceId.form-control(type='text')
.row
    .col-sm-6
      .form-group
        label(for='accessKey') Access key:
        input#accessKey.form-control(type='password')
button.btn.btn-default(type='submit', onclick='credentialRegister()') Registrar
br

script.
  function credentialRegister(){
    var serviceId = document.getElementById("serviceId");
    var accessKey = document.getElementById("accessKey");
    setCookie("servicesId", serviceId.value);
    setCookie("accessKey", accessKey.value);
    console.log(getCookie('servicesId'), getCookie('accessKey'));
  }

