nav#sidebar
  .sidebar-header(style='display: flex; min-height: 80px;')
    button#sidebarCollapse.btn.btn-outline-warning(type='button')
      div.menu-icon
      div.menu-icon
      div.menu-icon
    img.logo_desktop(src='http://pagoefectivo.pe/pe/../wp-content/themes/Avada/assets/images/logo_pe.png', style='width: 180px;', width='180')
  ul.list-unstyled.components
    li
      a.elements(href='/Cips/GenerarCip')
        span Generar CIP
    li
      a.elements(href='/Cips/ConsultarCip') Consultar CIP
    li
      a.elements(href='/Cips/ActualizarCip') Actualizar CIP
    li
      a.elements(href='/Cips/EliminarCip') Eliminar CIP
    li
      a.elements(href='/') Configuración