
@{
ViewData["Title"] = "Página de Inicio";
Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div class="header-custom">
  <button class="btn btn-outline-warning" id="sidebarCollapse" type="button">
    <div class="menu-icon"></div>
    <div class="menu-icon"></div>
    <div class="menu-icon"></div>
  </button><span class="header-title">Configuracion CIP</span>
</div>
<div class="content-main">              
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="serviceId">ID de servicio:</label>
        <input class="form-control" id="serviceId" type="text">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="accessKey">Access key:</label>
        <input class="form-control" id="accessKey" type="password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="secretKey">Secret key:</label>
        <input class="form-control" id="accessKey" type="password">
      </div>
    </div>
  </div>
  <button class="btn btn-default" type="submit" onclick="credentialRegister()">Registrar</button><br>
</div>
<script>
  function credentialRegister(){
    var serviceId = document.getElementById("serviceId");
    var accessKey = document.getElementById("accessKey");
    var secretKey = document.getElementById("secretKey");
    setCookie("servicesId", serviceId.value);
    setCookie("accessKey", accessKey.value);
    setCookie("accessKey", secretKey.value);
  }
</script>