<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>PagoEfectivo</title>
    <environment include="Development">
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="~/css/site.css">
    </environment>
  </head>
  <body>
    
    @Html.Partial("~/Views/Shared/_navbar.cshtml")
    <div class="container">@RenderBody()
      <hr>
      <footer>
        <p>© 2016 - PagoEfectivo</p>
      </footer>
    </div>
    <environment names="Development">
      <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
      <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>    @RenderSection("Scripts", required: false)
  </body>
</html>