
<nav id="sidebar">
  <div class="sidebar-header" style="display: flex; min-height: 80px;">
    <button class="btn btn-outline-warning" id="sidebarCollapse" type="button">
      <div class="menu-icon"></div>
      <div class="menu-icon"></div>
      <div class="menu-icon"></div>
    </button><img class="logo_desktop" src="https://s3-us-west-1.amazonaws.com/cde.dev.2b.pagoefectivo.g3c.pe/pagoefectivo/web/logo/pagoefectivo-openbrand.svg" style="height: 50px; margin-top: 5px;">
  </div>
  <ul class="list-unstyled components">
    <li><a class="elements" href="/Cips/GenerarCip"><span>Generar CIP</span></a></li>
    <li><a class="elements" href="/Cips/ConsultarCip">Consultar CIP</a></li>
    <li><a class="elements" href="/Cips/EliminarCip">Eliminar CIP</a></li>
    <li><a class="elements" href="/Cips/ActualizarCip">Actualizar CIP</a></li>
    <li><a class="elements" href="/">Configuración</a></li>
  </ul>
</nav>