
<nav id="sidebar">
  <div class="sidebar-header" style="display: flex; min-height: 80px;">
    <button class="btn btn-outline-warning" id="sidebarCollapse" type="button">
      <div class="menu-icon"></div>
      <div class="menu-icon"></div>
      <div class="menu-icon"></div>
    </button><img class="img-fluid" src="http://pagoefectivo.pe/pe/../wp-content/themes/Avada/assets/images/logo_pe.png" style="max-width: 80%; height: auto;">
  </div>
  <ul class="list-unstyled components">
    <li><a class="elements" href="/">Autorizaci&oacute;n</a></li>
    <li><a class="elements" href="/Cips/GenerarCip">Generar CIP</a></li>
    <li><a class="elements" href="/Cips/ConsultarCip">Consultar CIP</a></li>
    <li><a class="elements" href="/Cips/ActualizarCip">Actualizar CIP</a></li>
    <li><a class="elements" href="/Cips/EliminarCip">Eliminar CIP</a></li>
  </ul>
</nav>